body{
    margin: 0;
    font-family: Roboto;
    color: #0D0D0D;
}

.seccionFormulario{
    top: 41px;
    position: absolute;
    left: 20%;
    width: 75%;
}
.tituloForm{
    color: #023859;
    margin-top: 0;
}
.contenedorInputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.contenedorInputs input,select{
    padding: 5px 10px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.buttons input{
    margin: auto;
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #023859;
    color: #f2f2f2;
    cursor: pointer;
}
.seccionTabla{
    position: absolute;
    top:250px;
    left: 20%;
    width: 75%;
}
.encabezadoTabla{
    background-color: #023859;
    display: flex;
}
.tituloTabla{
    width: 30%;
    margin-left: 70px;
    color: #f2f2f2;
}
.encabezadoTabla div{
    width: 80%;
    text-align: right;
}
#BuscarId{
    width: 40%;
    margin: 19.92px 0px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 72px;
    border: none;
}
.tablaAlumnos{
    width: 100%;
    border-spacing: 0px;
    background-color: #F2F2F2;
    text-align: center;
}
.tablaAlumnos thead{
    color: #023859;
}
.tablaAlumnos th,td{
    padding: 12px 20px;
    border-bottom: 1px solid #737373;
}
.buttonEditar,.buttonEliminar{
    padding: 5px 20px;
    margin: 0px 10px;
    cursor: pointer;
    border: none;
    color: #F2F2F2;
    border-radius: 5px;
}
.buttonEditar{
    background-color: #FEA443;
}
.buttonEliminar{
    background-color: #D9544F;
}